<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/vue.js"></script>
    <title>单向数据流</title>
</head>
<body>
    <div id="app">
        <p>{{user}}</p>
        <p>{{title}}</p>
        <input type="text" v-model="user.name">
        <input type="text" v-model="title">
        <!-- 
            Vue2.3 ~   .sync  会隐式的 为 指定的属性创建一个  update:属性名   方法
                            update:title
         -->
        <my-itany :user="user" :title.sync="title"></my-itany>
    </div>
    <template id="itany">
        <div>
            <h1>子组件</h1>
            <p>{{user}}</p>
            <p>{{title}}</p>
            <input type="text" v-model="user.age">
            <input type="text" v-model="temp">
            <input type="button" value="修改title" @click="setTitle()">
        </div>
    </template>
    <script>
        new Vue({
            el:"#app",
            data:{
                title:"父组件标题",
                user:{
                    name:"jack",
                    age:23
                }
            },
            components:{
                MyItany:{
                    template:"#itany",
                    props:{
                        user:"",
                        title:""
                    },
                    methods:{
                        setTitle(){
                            // this.title = "测试";
                            this.$emit("update:title","测试");
                        }
                    },
                    computed:{
                        temp:{
                            get(){
                                return this.title;
                            },
                            set(data){
                                this.$emit("update:title",data);
                            }
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>