<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .active{
            color: red;
        }
    </style>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-router.js"></script>
    <!-- es6 vue 的 ajax 组件模块 -->
    <!-- <script src="../js/vue-resouse.js"></script>
    <script src="../js/vue-axio.js"></script>
    <script src="../js/jsonp.js"></script> -->
    <title>vue 路由 的传递参数</title>
</head>
<body>
    <!-- Root -->
    <div id="app">
        <router-link tag="button" to="/">登录</router-link>
        <router-link tag="button" to="/regist">注册</router-link>
        <hr>
        <router-view></router-view>
        <hr>
        <input type="button" value="切换welcom" @click="toWelcom()">
    </div>

    <template id="login">
        <div>
            <p>{{result.msg}}</p>
            <h1>登录</h1>
            用户名：<input type="text" v-model="user.username"><br>
            密码：<input type="password" v-model="user.password"><br>
            <input type="button" value="登录"  @click="doLogin()">
        </div>
    </template>

    <template id="regist">
        <div>
            <h1>注册</h1>
        </div>
    </template>

    <template id="welcome">
        <div>
            <h1>欢迎：{{name}}</h1>
            <h1>欢迎：{{$route.query.name}}</h1>
            <h1>欢迎：{{$route.params.name}}</h1>
        </div>
    </template>

    <script>
        // 1、定义组件的 - 配置
        const Login = {
            name:"Login",
            template:"#login",
            data:function(){
                return {
                    user:{
                        username:"",
                        password:""
                    },
                    result:{}
                }
            },
            methods:{
                doLogin(){
                    // 发送ajax 请求校验登录
                    // 模拟AJAX请求结果
                    if(this.user.username=="admin"&&this.user.password=="123"){
                        console.log(1);
                        this.result = {
                            msg:"登录成功",
                            name:"管理员",
                            flag:true
                        };
                        // 代码中跳转页面
                        //    依赖于 router 对象
                        //      .push()  路由切换      添加路由   
                        //                 （如果路由指向的组件，没有创建，先创建再切换）
                        //                  (如果指定的路由组件已经创建，会直接切换)
                        //      .replace()  路由切换   替换路由   没有历史记录的
                        //                  在切换的时候 直接创建指向的组件，并将组件内容替换到当前显示的组件中
                        
                        // router.push(opt);
                        //  opt  json 
                        // router.push({
                        //     path:"/welcome" //指定跳转的路径
                        // });
                        router.replace({
                            // path:"/welcome?name=管理员" //指定跳转的路径
                            //              $route.query
                            // rest 风格
                            //     $route.params
                            path:"/welcome/管理员"

                        });
                        return;
                    }
                    this.result = {
                        msg:"登录失败",
                        name:"",
                        flag:false
                    };
                }
            }
        };
        const Regist = {
            name:"Regist",
            template:"#regist"
        };
        const Welcome = {
            name:"Welcome",
            template:"#welcome",
            data:function(){
                return {
                    name:""
                }
            },
            mounted(){
                this.name = this.$route.query.name
            }
        }
        // 2.1、定义路由路径和组件的 关联 配置
        const routes = [
            {path:"/",component:Login},
            {path:"/regist",component:Regist},
            {path:"/welcome/:name",component:Welcome}
        ];
        // 2.2、创建VueRouter 的实例 用于实例化 组件和 路径的关系
        const router = new VueRouter({
            routes,
            // 用于定义 路由状态的 css 样式名称
            linkActiveClass:"active"
        });

        // 3、注入 （注册）  vueRouter 对象
        new Vue({
            el:"#app",
            // router:vueRouter
            router,  // 在每个组件中注入路由，同时还在 每个组件中的data 中注入了 $router 对象
            methods:{
                toWelcom(){
                    router.replace({
                        path:"welcome" //指定跳转的路径
                    });
                }
            }
        });
    </script>
</body>
</html>